
    /*fonts*/

      @charset "UTF-8";
      @import url("https://fonts.googleapis.com/css?family=Lora:400,700|Source+Sans+Pro:300,400|Dosis:300,400,700");
      @import url('https://fonts.googleapis.com/css?family=Montserrat');
      @import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

    /*body*/
      *{
      margin: 0px;
      padding: 0px;
      background-color: #090078;
      box-sizing: border-box;
       }
      html {
        scroll-behavior: smooth;
      }

      /*navbar*/

      header{
        display: flex;
        justify-content: flex-end;
        position: absolute;
        width: 100%;
        margin-top: 20px;
        background-color: transparent;
        min-height: 55px;
        z-index: 69;
      }

     /* #navbar{
         background-color: white !important;
          max-width: 600px;
          margin-right: 20px;
          position: fixed;
      }
      */
      #navbar{
        background-color:transparent !important;
        height: 80px;
        width: 100%;
      }
      .icon{
         background-color: transparent;
         position: absolute;
         width: 179px;
         height: 68px;
         margin-left: 25px;
         margin-top: 5px;
         left: 0;
         top: 0;
      }
      /*nav ul{
        display: flex;
        justify-content: flex-end;
        flex-wrap: nowrap;
        list-style-type: none;
        align-self: flex-end;
      }
      */
      nav ul{
        float: right;
        margin-right: 20px;
        display: flex;
        justify-content: flex-end;
        flex-wrap: nowrap;
        list-style-type: none;
        align-self: flex-end;
      }

      /*nav li{
        font-size: 20px;
        color: #2196F3;
        min-width: 30px;
        padding: 5px 0px 4px 0px;
        font-family: 'Bebas Neue', cursive;
        letter-spacing: 1.1px;
        font-weight: 100;
      }

      nav li a {
        color: inherit;
        text-decoration: none;
        font-size: 20px;
        color: white;
        min-width: 30px;
        padding: 15px 20px;
        transition: all .25s ease-in-out;
      }

      nav li a:hover{
        text-decoration: none;
        box-shadow: inset 0 -55px 0 0 #0bcfe9;
        color: white;
        position: relative;
        bottom: 1px;
      }
      */
      nav ul li{
         font-size: 20px;
        color: #2196F3;
        min-width: 30px;
        padding: 5px 0px 4px 0px;
        font-family: 'Bebas Neue', cursive;
        letter-spacing: 1.1px;
        font-weight: 100;
      }
      nav ul li a{
        color: inherit;
        text-decoration: none;
        font-size: 20px;
        color: white;
        min-width: 30px;
        padding: 15px 20px;
        transition: all .25s ease-in-out;
      }
      a.active,a:hover{
        background: #1b9bff;
        transition: .5s;
      }
      .checkbtn{
        font-size: 40px;
        color: white;
        float: right;
        line-height: 30px;
        margin-right: 40px;
        cursor: pointer;
        display: none;
      }
      #check{
        display: none;
      }
      @media (max-width: 952px){
        .icon{
          padding-left: 3px;
        }
        nav ul li a{
          font-size: 16px;
        }
       
      }
      @media (max-width: 858px){
        .checkbtn{
          display: block;
        }
       nav ul{
          position: fixed;
          width: 100%;
          height: 100vh;
          background: #2c3e50;
          top: 80px;
          left: -100%;
          text-align: center;
          transition: all .5s;
        }
        nav ul li{
          display: block;
          margin: 50px 0;
          line-height: 30px;
        }
        nav ul li a{
          font-size: 20px;
          display: none;
        }
        a:hover,a.active{
          background: none;
          color: #0082e6;
        }
        #check:checked ~ ul{
          left: 0;
          display: none;
        }
      }
     
      
      /*welcome section*/

      #welcome-section{

        background-image: url("images/planet.gif");
        background-repeat: no-repeat;
        color: #111;
        font-family: "Montserrat";
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 80vh;
        letter-spacing: 1px;
        }
      h1 {
      	/*background-image: url(https://media4.giphy.com/media/5eA8Lx6el98cxTCRD7/200w.webp?cid=ecf05e47n3y0yt3u0ew09ebccadxw76oypbvef41s5inldr8&rid=200w.webp&ct=g);
        */
        background-image: url(https://media4.giphy.com/media/5eA8Lx6el98cxTCRD7/200w.webp?cid=ecf05e47n3y0yt3u0ew09ebccadxw76oypbvef41s5inldr8&rid=200w.webp&ct=g);
      	background-size: cover;
      	color: transparent !important;
      	-moz-background-clip: text;
      	-webkit-background-clip: text;
      	font-size: 70px;
      }
      .about{
          font-size: 30px;
      }

      @media (max-width: 700px) {
        h1{
          font-size: 45px;
        }
        .about{
          font-size: 35px;
        }
      }
      .down{
        background-color: #090078;
        color: dodgerblue;
        border-width: thin;
        margin-top: 20px;
        border: 2px solid whitesmoke;
        padding: 10px 0px 10px 0px;
        transition: all .2s ease-in-out;
        overflow: hidden;
        position: absolute;
        bottom: 25px;
      }
      .down a{
        text-decoration: none;
        color: white;
        font-size: 20px;
        padding: 10px 28px 10px 28px;
        transition: all .2s ease-in-out;
        top: 10px;
        bottom: 10px;
        height: 10px;
      }

      .down a:hover{
        text-decoration: none;
        box-shadow: inset 0 -55px 0 0 #2196F3;
        color: white;
      }


      /*Background*/

#background{
  background-color: #090078;
}

      .header{
        font-family: 'Bebas Neue', cursive;
        font-size: 37px;
        padding-top: 100px;
        letter-spacing: 1.1px;
        color: white;
        text-align: center;

      }
      .responsive {
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-top: 40px;
        width: 50%;
        border-radius: 50%;
      }
      .underline {
        padding-bottom: 0.5px;
        border-bottom: 4px solid #0bcfe9;
        line-height: 100px;
        width: 600px;
      }
      .back-article{
        padding: 50px 100px 0px 100px;
      }
      .text{
        margin: 0px 100px 20px 100px;
        font-size: 30px;
        font-weight: 300;
        font-family: "Source Sans Pro", sans-serif;
        color: white;
        text-align: justify;
      }
      .skills{
        font-family: 'Bebas Neue', cursive;
        font-size: 37px;
        letter-spacing: 1.1px;
        padding-left: 200px;
        padding-bottom: 50px;
        color: #0bcfe9;
      }
      .list{
        margin: 0px 100px 10px 130px;
        font-size: 30px;
        font-weight: 300;
        font-family: "Source Sans Pro", sans-serif;
        color: #0bcfe9;
        list-style-type: square;
      }
        .resume {                  /*resume included*/
          text-decoration: none;
          color: #36363C;
          display: inline-block;
          padding: 0px 7px;
          transition: all .2s ease-in-out;
          box-sizing: border-box;
          text-decoration: none;
          box-shadow: inset 0 -2px 0 #2196F3;
  }
        .resume:hover {
          box-shadow: inset 0 -55px 0 0 #2196F3;
          color: white;
        }
        strong{
          color:#0bcfe9;
          font-weight: 400;
        }

      /**Projects**/

      .header1{
        font-family: 'Bebas Neue', cursive;
        font-size: 37px;
        padding-top: 50px;
        letter-spacing: 1.1px;
        color: white;
        text-align: center;

      }
      #projects{

        display: flex;
        flex-wrap: wrap;
        background-color: #090078;
        justify-content: space-around;
        align-items: stretch;
        width: 90vw;
        height: auto;
        padding: 20px;
        margin: 20px;

      }
      @media(max-width: 900px){
       #projects{
         display: flex;
         flex-wrap: nowrap;
         flex-direction: column;
         justify-content: center;
         align-items: center;
         width: 85vw;
         height: auto;
       }
     }
       #block{
         border: none;
         border-radius: 10px;
         box-shadow: 0 10px 20px white;
         margin: 10px;

         text-align: center;
         overflow: hidden;
       }
       .project-tile{
         font-size: 25px;
         color: #0bcfe9;
         padding: 15px 15px 20px 15px;
         font-family: 'Bebas Neue', cursive;
         letter-spacing: 1.1px;
         font-weight: 100;
         transition: all .2s ease-in-out;
      }

      .pen{
        text-decoration: none;
        color: white;

      }
      .project-tile:hover{
        text-decoration: none;
        box-shadow: inset 0 -85px 0 0 #2196F3;
        color: white;
      }

      /**Contact**/

      .header2{
        font-family: 'Bebas Neue', cursive;
        font-size: 37px;
        letter-spacing: 1.1px;
        color: white;
        text-align: center;
      }
      .text2{
        margin: 0px 100px 20px 100px;
        font-size: 23px;
        font-weight: 300;
        font-family: "Source Sans Pro", sans-serif;
        color: white;
        text-align: center;
      }

      #email{
        box-sizing: border-box;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        outline: none;
        display: block;
        width: 40%;
        padding: 7px;
        border: none;
        display: flex;
        justify-content: center;
        border-bottom: 2px solid #0bcfe9;
        background: transparent;
        margin-bottom: 10px;
        font: 32px , Helvetica, sans-serif;
        height: 30px;
      }

      .emailid{
        display: flex;
        justify-content: center;
      }
      .submit-div{
      font-family: "Montserrat";
      text-align: center;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      height: 10vh;
      letter-spacing: 1px;
      }

      .submit{
        color: white;
        border-width: thin;
        margin-top: 20px;
        border: 2px solid white;
        padding: 10px 0px 10px 0px;
        transition: all .2s ease-in-out;
      }
      .submit a{
        text-decoration: none;
        color: white;
        font-size: 20px;
        padding: 10px 28px 10px 28px;
        transition: all .2s ease-in-out;
        top: 10px;
        bottom: 10px;
        height: 10px;
      }

      .submit a:hover{
        text-decoration: none;
        box-shadow: inset 0 -55px 0 0 white;
        color: white;
      }

      #contact{
        margin: 20px;
        margin-bottom: 100px;
      }

      /**Footer**/

      footer{
          width: 100%;
          background-color:#090078;
          height: 65px;
          z-index: 69;
          bottom: 0px;
          display: flex;
          justify-content: flex-end;

        }
        h4{
          color: white;
          padding: 20px;
          font-size: 18px;
          text-align: left;
        }


        #profile-link {
          font-size: 34px;
          padding: 10px 25px 10px 25px;
          color:white;
          text-decoration: none;
        }

        #profile-link:hover{
          font-size: 40px;
          padding: 10px 25px 10px 25px;

        }

        .left{
          float: left !important;
          position: absolute;
          left: 0px;
        }
        @media (min-width: 1200px) { 
       footer {
          width: 100%;
          position: relative;
          bottom: 0px;
          left: 0px;
          }
         
          }
          @media (min-width: 992px) and (max-width: 1199px) {
            h1{
              font-size: 75px;
            }
            .about{
              font-size: 34px;
              margin-bottom: 0;
            }
            footer {
              width: 100%;
              position: relative;
              bottom: 0px;
              left: 0px;
          }
          .down{
            bottom: 87px;
          }

      
        }
        @media (min-width: 768px) and (max-width: 991px) {
          .back-article {
            padding: 50px 100px 0px 100px;
        }
          #projects {
            display: flex;
            flex-wrap: nowrap;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 85vw;
            height: auto;
        }
          footer {
            width: 100%;
            position: relative;
            bottom: 0px;
            left: 0px;
        }
        .text{ 
             margin: 0px 100px 20px 100px;
          font-size: 25px;
          font-weight: 300;
          font-family: "Source Sans Pro", sans-serif;
          color: white;
          text-align: justify;
        }
        .list{
          margin: 0px 100px 10px 130px;
          font-size: 30px;
          font-weight: 300;
          font-family: "Source Sans Pro", sans-serif;
          color: #0bcfe9;
          list-style-type: square;
        }
        .down{
          bottom: 287px;
        }
      }
      @media (max-width: 767px) {
        .back-article {
          padding: 50px 100px 0px 100px;
      }
        #projects {
          display: flex;
          flex-wrap: nowrap;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          width: 95vw;
          height: auto;
      }
        footer {
          width: 100%;
          position: relative;
          bottom: 0px;
          left: 0px;
      }
      .left{
        left: 0;
        bottom: 0;
        font-size: small;
      }
      .text{
        margin: 0px 17px 42px 0px;
        font-size: 23px;
        font-weight: 300;
        font-family: "Source Sans Pro", sans-serif;
        color: white;
        text-align: justify;
      }
      .list{
        margin-left: 20px;
        float: inherit;
        font-size: 25px;
        font-weight: 300;
        font-family: "Source Sans Pro", sans-serif;
        color: #0bcfe9;
        list-style-type: square;
      }
      .down{
        bottom: 25px;
      }
    }
    @media (max-width: 479px) {
      #welcome-section{
      background-image: url(images/planet.gif);
      background-repeat: no-repeat;
      color: #111;
      font-family: "Montserrat";
      text-align: center;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: fit-content;
      height: 100vh;
      letter-spacing: 1px;
      }
      #block {
        border-radius: 10px;
        box-shadow: 0 10px 20px white;
        margin: 10px;
        text-align: center;
        overflow: hidden;
        float: left;
        width: 100%;
    }
      #projects {
        display: flex;
        flex-wrap: nowrap;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 95vw;
        height: auto;
    }
      footer {
        width: inherit;
        position: relative;
        bottom: 0px;
        left: 0px;
    }
    .left{
      font-size: x-small;
      position: relative;
      flex-wrap: nowrap;
    }
    .icon-flex{
      width: 110%;
      flex-wrap: inherit;
    }
    .text {
      margin: -10px -80px 10px -77px;
      font-size: 20px;
      font-weight: 300;
      font-family: "Source Sans Pro", sans-serif;
      color: white;
      text-align: justify;
  }
    .list{
      margin-left: 20px;
      float: inherit;
      font-size: 25px;
      font-weight: 300;
      font-family: "Source Sans Pro", sans-serif;
      color: #0bcfe9;
      list-style-type: square;
    }
    #profile-link {
      font-size: 25px;
      padding: 17px 4px 1px 23px;
      color: white;
      text-decoration: none;
  }
  }
